# ?? ???????????? ?????, ??? ??????? ????????????? ?? .db
*.db
# ?? ??????????? ???? lib.a, ???????? ?? ??, ??? ?? ?????????? ??? .a ????? ? ??????? ??????????? ???????
#!lib.a
# ???????????? ?????? ???? TODO ??????????? ? ???????? ????????, ?? ????????? ? ?????? ???? subdir/TODO
#/TODO
# ???????????? ??? ????? ? ???????? build/
db_repository/
uploads/
__pycache__/
# ???????????? doc/notes.txt, ?? ?? doc/server/arch.txt
#doc/*.txt
# ???????????? ??? .txt ????? ? ???????? doc/
#doc/**/*.txt